[user]
	name = Amy
	email = duyao.dy1993@gmail.com
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = C:/KDiff3/kdiff3.exe
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = C:/KDiff3/kdiff3.exe
[core]
	excludesfile = C:/Users/dy/.gitignore_global
